<%= content_tag_for(:tr, connected_account) do %>
  <td class="serial-number"><%= serial %></td>
  <td class="account-details-c">
    <div class="name">
      <%= connected_account.name %>
    </div>
    <div class="account-details font-weight-bold"><div class="balance">Balance: <%= connected_account.balance %> Unknown</div>
      <div class="percent">Commission: <%= connected_account.commission %>%</div>
    </div>
    <div class="account-details">
      <div class="business-url">
        <a href="http://<%= connected_account.url %>"><%= connected_account.url %></a>
      </div>

    </div>
    <div class="account-details small">
      <div class="tokens">
        <div class="account-id">ID: <%= connected_account.sid %></div>
        <div class="publishable-key">Public Key: <%= connected_account.publishable_key %> </div>
        <div class="refresh-token">Refresh Token: <%= connected_account.refresh_token %></div>
        <div class="access-token">Access Token: <%= connected_account.access_token %> </div>
      </div>
    </div>
  </td>
  <td>
    <ul class="client-actions">
      <li><%= link_to 'Edit', edit_connected_account_path(connected_account), remote: true %> </li>
      <li><%= link_to 'Remove', connected_account, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </td>

<% end %>