<%= form_for(connected_account, remote: true) do |form| %>
  <% if connected_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(connected_account.errors.count, "error") %> prohibited this connected_account from being saved:</h2>

      <ul>
      <% connected_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :commission, "New Commission" %>
    <%= form.number_field :commission, {in: 0..100,  class: "form-control"} %>
  </div>
  <div class="actions">
    <%= link_to "Cancel", connected_account, class: "btn btn-secondary btn-sm", remote: true %>
    <button type="button" class="btn btn-secondary btn-sm">Close</button>
    <%= form.submit "Save Changes", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>