<main>
  <section id="client-list">
    <div class="container">`
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <% flash.each do |name, msg| %>
            <div class="alert <%= bootstrap_class_for(name) %> alert-dismissible fade show" role="alert">
              <%= msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <% end %>
          <div class="p-1"></div>
          <p>In order to add a sub account, click on the button below:</p>
          <a class="btn btn-primary" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_FEO5gO2qc2qBntLsQ8J3Okp7w3cMTONy&scope=read_write&redirect_uri=https://dashboard.ilovefloating.com/connected_accounts/add" role="button"><i class="fab fa-stripe-s"></i> Connect with Stripe</a>
        </div>
      </div>
    </div>
    <div class="clients">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h3>CLIENT LIST</h3>
            <%= link_to "Refresh", connected_accounts_refresh_path, class: "btn btn-primary mt-2" %>
            <div class="bg">
              <table class="accounts-list">
                <thead>
                  <tr>
                    <th></th>
                    <th>Details</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% serial = 0 %>
                  <% @connected_accounts.each do |connected_account| %>
                  <tr class="account-item">
                    <td class="serial-number"><%= serial = serial + 1 %></td>
                    <td class="account-details-c">
                      <div class="name">
                        <%= connected_account.name %>
                      </div>
                      <div class="account-details font-weight-bold"><div class="balance">Balance: <%= connected_account.balance %> Unknown</div>
                        <div class="percent">Commission: Unknown%</div>
                      </div>
                      <div class="account-details">
                        <div class="business-url">
                          <a href="http://<%= connected_account.url %>"><%= connected_account.url %></a>
                        </div>

                      </div>
                      <div class="account-details small">
                        <div class="account-id">ID: <%= connected_account.sid %></div>
                        <div class="publishable-key">Public Key: Unknown </div>
                        <div class="refresh-token">Refresh Token: Unknown</div>
                        <div class="access-token">Access Token: Unknown </div>

                      </div>

                    </td>
                    <td>
                      <ul class="client-actions">
                        <li><a href="#">Edit</a></li>
                        <li><%= link_to 'Remove', connected_account, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                      </ul>
                    </td>

                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>