<!DOCTYPE html>
<html>
  <head>
    <title>Maximum Floats Dashboard - <%= content_for?(:title) ? yield(:title) : 'List of Accounts' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fas fa-rocket"></i>
          Maximum Floats Dashboard
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-main">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= 'active' if current_page?(connected_accounts_path) || current_page?(root_path) %>">
              <%= link_to "Client List", connected_accounts_path, class: "nav-link" %>
              <!-- <a class="nav-link" href="#">Client List</a> -->
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_FEO5gO2qc2qBntLsQ8J3Okp7w3cMTONy&scope=read_write&redirect_uri=https://dashboard.ilovefloating.com/connected_accounts/add">Add Account</a>
            </li>
            <li class="nav-item <%= 'active' if current_page?(new_transaction_path) %>">
              <%= link_to "New Transaction", new_transaction_path, class: "nav-link" %>
            </li>
          </ul>
          <div class="my-2 my-lg-0">
            <button class="btn btn btn-outline-light my-2 my-sm-0" type="submit">Register</button>
            <button class="btn btn btn-outline-light my-2 my-sm-0" type="submit">Log In</button>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer id="site-footer">  
    </footer>
  </body>
</html>
